
<div id="signs" class="transitions-enabled">
  <% @signs.each do |sign| %>
    <div class="box panel panel-default">
      <%= image_tag sign.image.url(:medium) %>
      <div class="panel-body">
        <%= sign.description %>
          <%= sign.user.email if sign.user %>
          <%= link_to 'Show', sign %>
          <% if sign.user == current_user %>
            <%= link_to 'Edit', edit_sign_path(sign) %>
            <%= link_to 'Destroy', sign, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      </div>
    </div>       
  <% end %>
</div>





